{
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "globals": {
    "module": false,
    "define": false,
    "expect": false,
    "it": false,
    "describe": false,
    "sinon": false,
    "before": false,
    "after": false,
    "beforeEach": false,
    "afterEach": false
  },
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      { "singleQuote": true, "trailingComma": "es5", "printWidth": 100 }
    ]
  }
}
